*{
    margin: 0;
    padding: 0;
      box-sizing: border-box;
      font-family: 'open sans' , sans-serif;
}
.banner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    background: #fff;
    transition: 0.8s;
}
.banner.night{
    background: #333;
}

header{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 padding: 20px 100px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 }
 header ul {
    display: flex;
    gap: 40px;
 }
 header ul li {
    list-style: none;
   
 }
header .logo{
    color: #333;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
} 
header .logo span {
    color: #2196f3;

}
header a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    color: #333;
    transition: 0.5s;
}

.content {
    position: relative;
    max-width: 700px;
    z-index: 10;

}
.content h3{
    font-size: 2.5em;
    color: #333;
    font-weight: 200;
    transition: 0.5s;
    font-family: 'Courier New', Courier, monospace;
}
.content h2 {
font-size: 5.5em;
color: #333;
font-weight: 700;
transition: 0.5s;
}
.content h2 span {
 color:cornflowerblue;
}
.content p {
    font-size: 1.2em;
    color: #666;
    margin: 10px 0;
    transition: 0.5s;
}
.content button {
    position: relative;
    background-color: #2196f3;
    border: none;
    color: #fff;
    outline: none;
    padding: 15px 35px;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 4px;
    font-weight:600 ;
    transition: 0.5s;

}
.content button.chat {
    background: transparent;
    color: #333;
}
.ic {
    position: relative;
    color:cornflowerblue;
    font-size: 1.5em;
}
.sci {
    position: absolute;
    bottom: -38%;
    display: flex;
    gap: 20px;
}
.sci li {
    list-style: none;
}
.sci li a {
    text-decoration: none;
    font-size: 1.79em;
    color: #333;
}
.mode{
    position: absolute;
    left: 95%;
    bottom: -38%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    border-radius: 50%;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 2em;
}
.banner.night .mode{
    background: #444;
    color: #fff;
}
.mode ion-icon:nth-child(2),.banner.night .mode ion-icon:nth-child(1){
    display: none;
    
}
.banner.night .mode ion-icon:nth-child(2){
    display: block;
    
}
.banner.night header .logo,.banner.night .content h2,.banner.night .content p,.banner.night .content button.chat, .banner.night header a, .banner.night .sci li a, .banner.night header ul li a {
   color: #fff;
}
.banner.night .sci li a :hover{
  color: #2196f3;
  transition: 0.5s;
}
.pht{
    font-size: 40%;
    position: absolute;
    right: -90%;
    top: -7%;
    max-width: 550px;
   
    animation: animateColor 8s ease-in-out infinite;
}
@keyframes animateColor {
    0%,100%
    {
        transform: translateY(0px);
    }
    50%
    {
        transform: translateY(50px);
    }

}

.me {
   font-size: 150%;
    position: absolute;
    right: -70%;
    bottom: -50px;
    animation: animateme 8s ease-in-out infinite;
}
@keyframes animateme {
    0%,100%
    {
        transform: translateX(50px);
    }
    50%
    {
        transform: translateX(0px);
    }

}